body {
    background-color: black;
}

p {
    font-size: 24px;
    font-family: sans-serif;
}

h1 {
    font-size: 48px;
    font-family: sans-serif;
}

h2 {
    font-size: 32px;
    font-family: sans-serif;
}

@media (min-width: 825px) {
    #vnav {
        display: none;
    }

    ul {
        list-style-type: none;
      }
    
      .nav li {
        display: inline;
        float: left;
      }
    
    li a {
        display: block;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;
        font-size: 24px;
        font-family: sans-serif;
        color: #dddddd;
    }
    
    #navbar {
      background-color: #333;
      overflow: hidden;
      width: 100%;
      position: fixed;
      display: inline-block;
      margin-top: -9px;
      margin-left: -24px;
      transition: width .2s ease-in-out;
  }

}

#title {
    color: white;
}

#navbar {
    background-color: #333;
    overflow: hidden;
}

ul a:hover {
    background-color: rgb(95, 95, 95);
  }

  .active2 {
    background-color: lightblue;
    color: black;
  }