body {
    background-color: rgb(32, 32, 32);
    color: white;
}

@media (min-width: 825px) {
body {
    width: 825px;
}

table {
    border: 3px solid white;
    padding: -5px;
}

th a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px 16px;
}

th {
    width: 150px;
    height: 150px;
    border: 3px solid white;
}
}