body {
    background-color: rgb(42, 42, 42);
    color: white;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#pages {
    text-align: center;
    height: 500px;
    width: 700px;
    position: fixed;
    margin-left: 600px;
    margin-right: 150px;
}

#td1:hover {
    background-color: black;
}

#td2:hover {
    background-color: black;
}

#td3:hover {
    background-color: black;
}

#td4:hover {
    background-color: black;
}

#td5:hover {
    background-color: black;
}

#td6:hover {
    background-color: black;
}

#td7:hover {
    background-color: black;
}

#td8:hover {
    background-color: black;
}

#td9:hover {
    background-color: black;
}


.wrapper {
    display: table-cell;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: lightblue;
    font-size: 20px;

    font-family: arial, helvetica, sans;
}

h1 {
    font-size: 48px;
    font-family: arial, Helvetica, sans;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-family: arial, Helvetica,;
    text-align: center;
}