body {
    background: white;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 24px;
    font-family: sans-serif;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

hr {
    border: 3px dotted red;
}

#more-links {
    background-color: lightgray;
    color: black;
}

#about {
    font-family: sans-serif;
    text-align: center;
}

button {
    display: block;
    background: blue;
    color: white;
    font-size: 18px;
}

#darkmode {
    background: black;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    /*a element css program*/
display: block;
font-size: 20px;
text-decoration: none;
font-family: sans-serif;
padding: 8px;
}

.darktheme {
    background: black;
    color: white;
}

.darktheme #sidebar {
    color: black;
}

.lighttheme {
    background: white;
    color: black;
}

@media (width: 375px) {
    body {
        width: 600px;
    }

    html {
        width: 600px;
        height: 3169;
    }

    h1 {
        text-align: center;
        font-size: 4em;
    }

    p {
        text-align: center;
        font-size: 2em;
        width: 543px;
    }
}

#one {
    border: 3px solid black;
    border-radius: 25px;
    width: 30px;
    height: 4px;
}

#two {
    border: 3px solid black;
    border-radius: 25px;
    width: 30px;
    height: 4px;
}

#three {
    border: 3px solid black;
    border-radius: 25px;
    width: 30px;
    height: 4px;
}

.nav div {
    height: 4px;
    margin: 0;
    background-color: white;
    cursor: pointer;
}

#navigation {
    display: none;
    background-color: black;
}

#navigation a {
    color: white;
}

#navigation a:hover {
    border: 3px solid black;
    border-radius: 15px;
    background-color: green;
    color: white;
}

.navigation {
    display: block;
}

#close-nav {
    float: right; 
    position: relative;
    right: -50%;
}

#close {
    position: relative;
    right: -50%;
}

#close a:hover {
    background-color: red;
}

.darktheme #navigation {
    background-color: white;
    color: black;
}

.darktheme #navigation a {
    color: black;
}

.side-bar {
    width: 163px;
    height: 100%;
    background-color: rgb(71, 71, 71);
    position: fixed;
    float: left;
}

.side-bar a {
    color: white;
    font-family: monospace;
    text-decoration: underline;
    position: relative;
}

#sidebar {
    transform: width("160px");
    transform: display("none");
    transition: 1s;
}

#settings {
    float: right;
}

.close-sidebar {
    width: 0px; 
}

.change-background {
    background: gray;
}

#regular-size-navi {
    display: none;
}

#sidebar button {
    position: relative;
    bottom: -90%;
}

@media (max-width: 400px) {
    a {
        font-size: 1.50em;
    }
}

@media (width: 375px) {
    h1 {
        font-size: 4em;
        font-family: monospace;
    }

    p {
        font-size: 2em;
        font-family: monospace;
    }
}

#sidebar a:hover {
    color: skyblue;
    text-shadow: 1px 2px 2px black;
}

#CHANGE-IT-BACK {
    display: none; 
}