h1 {
    font-family: sans-serif;
    font-size: 24px;
}

p {
    font-family: sans-serif;
    font-size: 24px; 
}

.btn-open {
    background-color: lime;
    color: black;
    padding: 16px 20px;
    border: none;
    font-size: 20px;
}

#openButton {
    display: none;
}

.btn-cancel {
background-color: red;
color: black;
padding: 16px 10px;
border: none;
font-size: 20px;
}

.submitBtn {
    background-color: blue; 
    color: white;
    padding: 16px 10px;
    border: none;
    font-size: 20px;
    box-shadow: 2px 1px 2px gray;
}

#firstname {
    font-size: 20px;
    font-family: sans-serif; 
}

#lastname-base {
    font-size: 20px;
    font-family: sans-serif;
}

#firstname-base {
    font-size: 20px;
    font-family: sans-serif;
}

#email {
    font-size: 20px;
    font-family: sans-serif;
}

#email-base {
    font-size: 20px;
    font-family: sans-serif;
}

#age {
font-size: 20px;
font-family: sans-serif;
}

#age-base {
font-size: 20px;
font-family: sans-serif;
}
.form-popup {
    display: none;
    margin: auto;
    float: center;
    font-size: 20px;
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9;
    border-radius: 10%;
    border-color: gray;
    box-shadow: 2px 2px lightgray;
}

#paragraph-form .paragraph {
    font-size: 20px; 
    position: relative;
    right: 15;
}

/*
Thank you w3schools! Your tutorial pages are helpful!
*/