
body {
    background-image: linear-gradient(lime, blue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
}

p {
    font-size: 18px;
    font-family: sans-serif;
}

h1 {
    font-size: 24px;
    font-family: sans-serif;
}

#contact-form {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    background-color: lightblue;
    border: 3px solid black;
    border-radius: 25px;
    width: 360px;
    margin: 0 auto;
}

input {
    color: blue;
    background-color: lightgoldenrodyellow;
    font-size: 20px;
    font-family: sans-serif;
}

ul {
    float: left;
}

li {
    float: left;
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

a {
    border: 3px solid black;
    border-radius: 25px;
    background-color:violet;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

a:hover {
    color: red;
}

button {
    font-size: 20px;
    font-family: sans-serif;
    background-color: blue;
    color: white;
}

.otherText {
    color: white;
}

#one {
    width: 30px;
}

#two {
    width: 30px;
}

#three {
    width: 30px;
}

.nav div {
    height: 4px;
    background: white;
    margin: 5px 0px;
}

#hidenav {
    display: none;
}

.notice {
    color: red;
}