
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
body {
    background: white;
    transition: 1s;
}

@media screen and (min-width: 375px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Ubuntu Mono', monospace;
    }
    }

    h1 {
        color: black;
    }

    a {
        color: black;
    }

    @media screen and (max-width: 375px) {
        p {
            font-size: 1em;
            font-family: 'Ubunto Mono', monospace;
        }

        h1 {
            font-size: 2em;
            font-family: sans-serif;
        }
    }

    #easteregg {
        display: none;
        color: lime;
        size: 50px;
    }
    h1{
        color: white;
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        font-family: Arial;
    }
    .btn {
    border: 10px;
    margin: 4px, 16px;
    background-color: white; 
    font-size: 1em;
    padding: 14px, 16px;
        border-radius: 20px; 
    position: relative;
    left: 20px; 
    }

    #button-nothing {
        display: block;
        border: 3px solid black;
        border-radius: 25px;
        background-color: yellow;
        position: relative;
        left: 45%;
    }

.information {
 background-color: white; 
}

 #swapT {
    color: lightgray;
    text-decoration: none;
    cursor: pointer;
 }


/*
*The code below is for the small link below the red line.
*/

#otherStuff {
    text-align: center;
    position: relative;
    font-weight: lighter;
    top: -100px;
    text-decoration: none;
    float: none;
    padding: 2px 20px;
}

#repository {
    font-family: sans-serif;
    font-size: 16px;
    color: gray;
    /*A text shadow with a blue color on the small text would be nice!*/
    text-shadow: -3px 3px 3px #999;
    position: fixed;
    top: -95px;
    background-color: lime;
    font-style: bold;
    top: 80;
    left: 2;
    padding: 2px 4px;
}

li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


li a {
    color: black;
}

footer a {
    display: flex;
    float: left;
    text-align: center;
    font-family: sans-serif;
    background-attachment: fixed;
    width: 400px;
}
#myBtn {
    background-color: red;
    position: fixed;
    block-size: 10px;
    color: white;
}

hr {
   border: 1px dotted red;
}
.secondHr {
    position: relative; 
    top: -25px;
}

.wrapper {
    justify-content: center;
    position: relative;
    top: -100px;
}
/*
FINALLY A LINE! THIS TIME I WONT HAVE TO CODE A LOT OF JAVASCRIPT!! YAY!
*/

button {
    background-color: yellow;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#anotherBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 80;
    background-color: lime;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
}
    /*
    *I finally added dark mode to my website! YAY!
    */
    #darkModeHome {
    display: block;
    margin: 0;
    padding: 10px;
    background-color: #f18239;
    }

    .lighttheme {
        animation-name: light-mode;
        animation-duration: 2s;
        background: lightgray;
        color: black;
    }

    #lightModeHome {
        display: block;
        border: 3px solid black;
        font-size: 24px;
        font-family: sans-serif;
        border-radius: 25px;
        background-color: #ffffff;
        margin: 0;
        padding: 10px;
    }
  img {
      width: 65px;
      height: auto;
  }


#github {
    font-size: 20px;
    font-family: sans-serif;
}

#main-logo {
    width: 100px;
    border: 2px solid black;
    border-radius: 25px;
}

#notice {
    color: black;
    font-size: 24px;
    font-family: sans-serif;
    position: relative;
    top: -85.6px;
}


section {
    display: block;
}

footer {
    color: #343534;
    border: none;
}
#external a{
    color: white;
    text-align: center;
    font-size: 18px;
    border: 2px solid #343534;
    border-radius: 25px;
    background-color: black;
    font-family: sans-serif;

}

#welcome h1 {
    font-size: 34px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    z-index: 1
}

#welcome {
    border: none;
    position: relative;
    z-index: 1;
}

#egg {
    color: black;
    font-size: 12px;
}

#about-soon {
    text-align: center;
    position: relative;
    right: 50%;
}

#github-repo-info {
    color: black;
    font-size: 24px;
    font-family: sans-serif;
}

a:hover#github-repo-info {
    animation-name: github-animation;
    animation-duration: 1s infinite;
    color: white;
    font-family: sans-serif;
}

@keyframes github-animation {
    50% {
        font-size: 28px;
    }
}

#sidetext {
    display: block;
    font-size: 38px;
    font-family: sans-serif;
    border: none;
    background-color: rgb(35, 98, 214);
    position: relative;
    width: 300px;
}

#sidetext strong {
    color: black;
    font-weight: lighter;
}

@supports (display: block) {
@media screen and (max-width: 375px) {
    #sidetext p {
        width: 375px;
        display: block;
       text-align: center;
       font-size: 2em;
       margin: 0.4em auto;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
       position: relative;
       border: 3px solid black;
       border-radius: 10px;
       background-color: rgb(35, 98, 214);
       left: -50px;
       z-index: 3;
        }
    }
}

p {
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: lighter;
}



a {
    font-size: 24px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

#closetop {
    display: block;
    background-color: red;
    font-family: sans-serif;
    font-size: 28px;
    text-decoration: none;
    position: relative;
    height: auto;
    z-index: 1;
}



@media only screen and (max-width: 375px) {
    .wrapper {
        text-align: center;
        left: -2px;
    }
    .wrapper p {
        position: relative;
        left: -5px;
    }
    #responsivebutton button {
        position: relative;
        top: -35px;
    }
}

.dimmedtheme {
    background: rgb(65, 63, 63);
    color: white;
}

.hideall p{
    display: none;
}

.hideall h1 {
    display: none; 
}

.hideall #external-links {
    display: none;
}

#textdemo {
    display: none;
}

#main {
    font-size: 24px;
    font-family: sans-serif;
    background-color: black;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

hr {
    width: 680px;
    display: none;

}



@media only screen and (max-width: 680px) {


.twitch-information p{
    display: block;
    text-align: center;
    position: relative;
    left: -5px;
}

.twitch-information a {
    text-align: justify;
    display: block;
    position: relative;
    left: -5px;
}
}

p {
    text-align: center;
    font-family: sans-serif;
}


#darkmodehome {
border: 3px solid black;
border-radius: 10px;
font-weight: lighter;
}

#wrapper {
    font-size: 1em;
    font-family: sans-serif;
}

#external-links {
    background-color: transparent;
    border: none;
}

#external-links p {
    font-size: 20px;
    font-family: Arial;
}

@media (min-width: 1920px) {
    p {
        text-align: center;
    }

    h1 {
        text-align: center;
    }
}

#main {
    width: 500px;
    font-size: 24px;
}

@media (max-width: 600px) {
    p {
    font-size: 1em;
    font-family: sans-serif;
} 

h1 {
    position: relative;
}
}

twitch-information {
    border: 3px solid black;
    border-radius: 25px;
    font-size: 24px;
}

.darktheme {
    color: white;
    background: black;
    font-weight: normal;
}

.darktheme p {
    color: white;
}

.darktheme h1 {
    color: white;
}

darktheme a {
    color: purple; 
}

@supports (display: block) {
@media (max-width: 375px) {
    head {
        width: 375px;
    }

    button {
        font-size: 1rem;
    }
    
    #sidetext {
        justify-content: center;
        float: left;
        background-color: rgb(35, 98, 214);
        position: relative;
        right: -40%;
    }
    
    #sidetext a {
        position: relative;
        }
    
        p {
            text-align: center;
            justify-content: center;
            align-items: center;
            position: initial;
            right: -45%;
        }

        p#noticetext {
            position: absolute;
        }

        h1 {
            text-align: center;
            justify-content: center;
            align-items: center;  
        }
        h1#main-title {
            width: 543px;
            height: 75px;
            font-size: 30px;
            position: absolute;
        }

        p#bugsnotice {
            width: 543px;
    }
    #site-volunteers {
        width: 550px;
        height: auto;
        }

        #site-volunteers p {
            font-size: 24px;
            font-family: sans-serif;
        }
        
        #sponsores {
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        #site-sponsors p {
            font-size: 24px;
            width: 543px;
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        #site-sponsors h1 {
            position: relative;
            right: -100px;
        }  
        
        #sidetext a {
            text-align: center;
            align-items: center;
            justify-content: center;
        }


        section#githubhosting {
            display: block;
        }

        section#githubhosting a {
            color: purple;
        }

        a#github-repo-info {
            color: purple;
        }

        #main-repository {
            font-size: 24px;
        }
    }
}

#sidetext {
    position: relative;
    right: -45%;
    border: 3px solid black;
    border-radius: 25px;
}


@media (min-width: 350px) {
    #brfor320pxdisplay {
        display: none;
    }
    
    #box2 {
        width: 543px;
        position: relative;
        bottom: 100px;
    }
}

@media (max-width: 800px) {
    #main-title {
        position: relative;
        top: 50px;
    }

    img#main-logo {
        float: left;
        width: 200px;
        height: 200px;
    }

    #sidetext {
        text-align: center;
        justify-content: center;
        align-items: center; 
        position: relative;
        top: -100px;
        left: 150px;
    }

    #sidetext a {
        display: block;
        font-size: 32px;
        font-family: sans-serif;
        color: white;
    }
    #iphone678plus-responsive {
        width: 700px;
    }

    p {
        font-size: 2em;
        font-family: sans-serif;
    }

    div#main {
        display: block;
        position: relative;
        left: 200px;
    }

    div.hosted a {
        font-size: 48px;
    }

    div#license {
        font-size: 1.75em;
        font-family: sans-serif;
    }

    p#noticetext {
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 500px;
        font-size: 1.80em;
        position: relative;
        right: -20%;
    }
}

@media (width: 1024px) {
    img#main-logo {
        width: 300px;
        height: 300px; 
        float: left;
    }

    #box {
        position: relative;
        top: 100px;
    }

    div#license {
         font-size: 2em;
    }
}

@media (width: 1920px) {
    #box2 {
        width: 1920px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #iphone678plus-responsive {
        width: 1000px;
        position: relative; 
        right: -50%;
    }
}

@media (min-width: 1024px) {
    #iphone678plus-responsive {
        width: 1000px;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 50px;
        right: -50%;
    }
}

@media (width: 2018px) {
    #iphone678plus-responsive {
        width: 2018px;
        position: relative;
        right: 1920px;
    }
}

#navigation-settings {
    position: relative;
    top: -100px;
}

#original-size {
    justify-items: center;
    align-items: center;
    text-align: center;
    display: none; 
}

.brightnavigation {
    background: white;
    color: black;
}

.brightnavigation a {
    color: green;
    border: 3px solid transparent;
}

div#license {
    font-size: 28px;
    font-family: Arial;
    float: left;
}
#external-links a {
    width: 500px;
    word-spacing: 10px;
    border: none;
    border-radius: 0px;
    background-color: gray;
    font-size: 20px;
    font-family: sans-serif;;
}

#external-links {
    background-color: gray;
    padding: 10px;
}

div#box2 {
    position: relative;
    right: -170px;
}

img#main-logo {
    float: left;
    width: 300px;
    height: 250px;
}

div#box {
    position: relative;
    bottom: -200px;
}

a#main {
    font-size: 22px;
    font-family: sans-serif;
    background-color: red;
}

.closeinfo {
    display: none;
    animation-name: fade-out-information;
    animation-duration: 2s;
}

#redbutton {
    width: 30px;
    background-color: red;
    color: white;
    font-family: sans-serif;
}

.dimmedtheme {
    background: rgb(71, 71, 71);
    color: white;
}


@media (width: 375px) {
    #welcome {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #sidetext {
        width: 543px;
        height: auto;
    }

    h1#main-title {
        font-family: 'Ubuntu';
        font-size: 4em;
    }

    #box2 {
        position: relative;
        bottom: -100px;
    }

    #box2 h1 {
        text-align: center;
        position: relative;
        left: -50px;
    }

    div#site-volunteers {
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #sidetext {
        display: none;
        position: relative;
        bottom: -100px;
    }
    
    .twitch-information {
        position: relative;
        bottom: -100px;
    }

    p#noticetext {
        width: 800px;
        position: relative;
        bottom: -100px;
    }

    #welcome {
        width: 543px;
        height: 200px;
        position: relative;
        right: -50%;
    }
}

@media (width: 1900px) {
    #box2 {
        position: relative;
        right: -50%;
        float: left;
    }
}

#external-links a {
    background-color: transparent;
    word-spacing: normal;
}

#external-links {
    height: 10%;
}

div#license {
    float: left; 
    position: relative;
    left: -52%;
}

#settings {
    display: none;
    background: black;
    border: 3px solid white;
    border-radius: 10px;
    float: right;
    width: 320px;
    position: relative;
    bottom: -31px;
    right: -323px;
}

.settings-wrap button {
    opacity: 0.6;
    width: 320px;
    background: orange;
    float: right;
    transition: 1s;
}

#settings-btn:active {
   background: skyblue; 
}

.settings-wrap button:hover {
    opacity: 1;
    transition: 1; 
}

.open-close-settings {
    display: block;
}

#settings button {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.changeborders .open-close-settings {
    background-color: white;
}

#exit-settings {
    font-family: 'Ubuntu', monospace;
    background-color: red;
    color: White;
    width: 30px;
    float: left;
}

button#darkmodehome {
    font-family: Arial;
    float: left; 
    position: relative;
    left: -30px;
}

@media (width: 375px) {
    #settings {
        float: left;
        font-size: 32px;
        width: 100%;
        position: relative;
    }

    #settings li {
        width: 100%; 
    }

    #settings button {
        font-size: 32px
    }

    button#settings-btn {
        font-size: 50px;
        float: right; 
        position: relative;
        right: -450px;
    }

    #main {
        height: 124px;
    }
}

@media (max-width: 600px) {

    h1 {
        font-size: 4em;
        font-family: 'Ubuntu' monospace;
    }

    p {
        font-size: 3em;
        font-family: 'Ubuntu' monospace;
    }

    div#main {
        font-size: 2em;
    }

    p#bugsnotice {
        position: relative;
        left: 33%;
    }

    #box2 {
        font-size: 2em;
    }

    #box2 p {
        font-size: 2em;
    }
}

@media screen and (max-width: 500px) {
    div#main {
        height: 150px;
        transition: 1s;
    }

    #sidebar a {
        top: -200px;
    }

    #sidebar #settings-sidebar {
        position: relative;
        top: -50px;
    }

    #box2 p {
        font-size: 2em;
    }

    h1#main-title {
        font-size: 72px;
        width: 500px;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        right: -100px;
    }

    p#sidetext {
        display: none;
        margin-bottom: 100px;
        position: relative;
    }

    div#iphone678plus-responsive {
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -150px;
    }

    button#settings-btn {
        font-family: sans-serif;
        float: right;
        position: relative;
        right: -20%;
    }

    a {
        font-family: sans-serif;
        font-size: 2em;
    }

    a#github-repo-info {
        font-family: Arial;
        font-size: 48px;
    }
}

@media (width: 768px) {
    #box2 {
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 0.50%;
    }

    h1#main-title {
        position: relative;
        top: -50px;
        font-size: 48px;
    }

    a#github {
        font-size: 32px;
    }

    a#github-repo-info {
        font-size: 32px;
    }

    div#hosted a {
        font-size: 32px;
    }

    div#external-links {
        display: none;
    }
}

@media (width: 1024px) {
    h1 {
        font-size: 72px;
        font-family: 'Ubuntu' monospace;
        font-weight: bold;
    }

    p {
        font-size: 54px;
        font-family: 'Ubuntu' monospace;
        font-weight: lighter;
    }

    #box2 {
        position: relative;
        left: -26%;
    }

    a.hosted {
        font-size: 54px;
        font-family: 'Ubuntu' monospace;
    }

    a#github {
        font-size: 54px;
        font-family: 'Ubuntu' monospace;
    }

    a#main-repository {
        font-size: 54px;
        font-family: 'Ubuntu' monospace; 
    }

    a#github-repo-info {
        font-size: 54px;
        font-family: 'Ubuntu' monospace;
    }

    h1#main-title {
        font-size: 85px;
        font-family: 'Ubuntu' monospace;
    }

    button#settings-btn { 
        font-size: 54px;
        font-family: 'Ubuntu' monospace;
    }

    div#settings {
        margin-bottom: -100px;
        position: relative;
        bottom: -150px;
        z-index: -5px;
    }
}

#settings {
    position: relative;
    bottom: -50px;
}

#settings button {
    opacity: 0.6;
    transition: 1s;
}

#settings button:hover {
    opacity: 1;
}

@media (width: 414px) {
    h1 {
        font-size: 72px;
        font-family: 'Ubuntu' monospace;
        font-weight: bold;
    }

    p {
        font-size: 54px;
        font-family: 'Ubuntu' monospace;
        font-weight: lighter;
    }
}

    #box2 {
        position: relative;
        right: -26%;
    }

    a.hosted {
        font-size: 54px;
        font-family: 'Ubuntu' monospace;
    }

    a#github {
        font-size: 54px;
        font-family: 'Ubuntu' monospace;
    }

    a#main-repository {
        font-size: 54px;
        font-family: 'Ubuntu' monospace; 
    }

    a#github-repo-info {
        font-size: 54px;
        font-family: 'Ubuntu' monospace;
    }

    h1#main-title {
        font-size: 85px;
        font-family: 'Ubuntu' monospace;
    }

    button#settings-btn { 
        font-size: 54px;
        font-family: 'Ubuntu' monospace;
    }

    div#settings {
        position: relative;
        bottom: -40px;
    }

    div#iphone678plus-responsive {
        margin-right: 100px;
        position: relative;
        right: -50%;
    }

    div#external-links {
        display: none;
        width: 100%; 
    }
}

@media (width: 800px) {
    #box2 {
        position: relative;
        left: -0.0005%;
    }

    p#sidetext {
        display: none;
    }

    p {
        font-size: 2em;
    }

    h1#main-title {
        font-size: 64px;
        font-family: 'Ubuntu' monospace;
    }

    a#github {
        font-size: 32px;
    }

    a#main-repository {
        font-size: 32px;
    }

    a#github-repo-info {
        font-size: 32px;
    }
}

@media (width: 3840px) {
    p {
        width: 3000px;
        font-size: 4em;
        font-family: Arial;
        position: relative;
        right: -20%;
    }

    h1 {
        width: 3000px;
        font-size: 6em;
        font-family: Arial;
        position: realtive;
        right: -20%;
    }

    h1#main-title {
        font-size: 8em;
        font-family: Arial;
    }

    a {
        font-family: sans-serif;
        font-size: 2em;
    }

    a#github-repo-info {
        font-size: 2em;
        font-family: sans-serif;
    }

    a#github {
        font-size: 2em;
        font-family: sans-serif;
    }
    
    button#settings-btn {
        font-size: 4em;
        font-family: sans-serif;
        font-weight: bold;
    }

    div#settings {
        font-size: 4em;
    }

    button#darkmodehome {
        font-size: 4em;
        font-family: sans-serif;
        font-weight: bold;
    }

    button#lightmodehome {
        font-size: 4em;
        font-family: sans-serif;
        font-weight: bold;
    }

    button#dimmedmodehome {
        font-size: 4em;
        font-family: sans-serif;
        font-weight: bold;
    }
}

@media (max-width: 1300px) {
    #everything {
        display: none;
    }

    #warning {
        display: block;
        font-family: 24px;
    }

    #continue {
        position: relative;
        right: -30%;
    }
}

@media (min-width: 1301px) {
    #warning {
        display: none; 
        font-family: 24px;
    }
}

#alertdimmed {
    display: none;
    width: 700px;
    background: rgb(206, 206, 46);
    opacity: 0.8;
    padding: 24px 48px;
    position: relative;
    right: -30%;
}

#top {
    position: fixed;
}