.main-text {
    font-size: 2.5em;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    position: relative;
    width: 200px;
    top: 15px;
}

#main-text {
    text-align: center;
}

.container {
    border-radius: 25px;
   font-size: 38px;
    font-family: sans-serif;
    text-align: center;
    position: relative;
}

#submit {
    border-radius: 25px;
    font-size: 24px;
}

#checkbox {
    font-size: 25px;
}

input {
font-size: 24px;
border-radius: 25px;
color: blue;
}

nav {
    display: none;
 
}


#one {
    width: 30px;
}
#two {
    width: 30px;
}
#three {
    width: 30px;
}

.nav div {
    height: 5px;
    background-color: white;
    margin: 5px 0px;
}
a:hover {
    color: red;
    text-decoration: none;
}

#links {
    display: none;
    background-color: skyblue;
    font-size: 20px;
    font-family: sans-serif;
}

#show-nav {
    display: block;
    float: right;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

 body {
    background-image: linear-gradient(purple, violet, blue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;

 }

 .external-links {
      background-color: darkgray;
      font-size: 18px;
      font-family: sans-serif;
 }

 #login-form {
     text-align: center;
     font-size: 20px;
     font-family: sans-serif;
     background-color: lightblue;
     border: 3px solid black;
     border-radius: 25px;
     margin: 0 auto;
 }

 /* just a little notice if the site isnt working properly */
 #notice-1 {
     color: red;
     border: 3px solid black;
     border-radius: 25px;
 }

 .notice {
     font-family: sans-serif;
     font-size: 18px;
 }
