.main-text {
    font-size: 2.5em;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    position: relative;
    width: 200px;
    top: 15px;
}

#main-text {
    text-align: center;
}

.container {
    border-radius: 25px;
   font-size: 38px;
    font-family: sans-serif;
    text-align: center;
    position: relative;
}

#submit {
    border-radius: 25px;
    font-size: 24px;
}

#checkbox {
    font-size: 25px;
}

input {
font-size: 24px;
border-radius: 25px;
color: blue;
}

nav {
    display: none;
 
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

#show-nav {
    display: block;
    float: right;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

 body {
    background-image: linear-gradient(purple, violet, blue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;

 }

 .external-links {
      background-color: darkgray;
      font-size: 18px;
      font-family: sans-serif;
 }
