.container {
    color: white;
    font-family: sans-serif;
    font-size: 40px;
    background: url('pexels-jorge-jesus-614117 (1).jpg');
    position: relative;
    width: 1920px;
    height: auto;
}

.bottom_left {
    text-align: center;
    background-color: black;
    position: relative;
    top: -400px;

}

#header {
    width: 100%;
    height: 500px;
}



li {
    display: block;
    border: 2px solid white;
    border-collapse: 50px;
    background-color: #000;
    float: left;
    padding: 2px 10px;
    position: relative;
}

a {
    border: 3px solid red;
    border-radius: 50%;
    border-top: 50px;
    text-decoration: none;
    color: red;
    font-size: 20px;
    font-family: sans-serif;
}

a:hover {
    color: blue;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif; 
}

#BoringButton {
    display: block;
    background-color: blue;
    color: white;
    padding: 2px 10px;
    position: relative;
}

#BoringButton:hover {
    display: block;
    background-color: lime;
    color: black;
    padding: 2px 10px;
    position: relative;
    
}

hr {
    border: 3px dotted red;
}

/*
* The footer
*/
footer {
    background-color: darkgrey;
    float: left;
    display: block;
    padding: 2px 10px;
    font-size: 16px;
    font-family: sans-serif;
}