body {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    position: relative;
    z-index: 1;
}

.container a {
    text-decoration: none;
}

h1 {
    font-family: sans-serif;
    font-size: 32px;
    
}

h2 {
    font-family: sans-serif;
    font-size: 26px;
}

p {
    font-family: sans-serif;
    font-size: 24px;
}

ul {
    background: black;
    padding: 20px;
}

li {
    list-style-type: none;
    float: left;
    text-indent: 5px;
}

li a {
    color: skyblue;
    font-family: sans-serif;
    font-size: 22px;
    margin: 0;
    text-decoration: none;
    text-indent: 5px;
    position: relative;
    top: -10px;
}

li:hover {
 color: red;
}


#one {
    width: 30px;
    position: relative;
    bottom: -20%;
}

#two {
    width: 30px;
    position: relative;
    bottom: -15%;
}

#three {
    width: 30px;
    position: relative;
    bottom: -10%;
}

#nav div {
    height: 4px;
    background-color: black;
    margin: 5px;
}

#external-links {
    padding: 150px;
    text-indent: 15px;
    text-decoration: none;
    position: relative;
    bottom: -50px;
}

#external-links a {
    font-size: 24px;
    float: left;
    text-indent: 5px;
    word-spacing: 5px;
    font-family: sans-serif;
    color: skyblue;
    float: left;
    background-color: black;
     text-decoration: none;
    list-style-type: none;
    position: fixed;
    z-index: 4;
}

#move-side {
    display: block;
    background-color: skyblue;
    font-size: 20px;
    font-family: sans-serif;
}

#external-links a:hover {
    color: red;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-size: 24px;
    font-family: sans-serif;
}

.image-wrap {
    display: flex; 
}

.image-wrap img {
    height: auto;
}

#NJE-N {
    border: 3px solid white;
    border-radius: 25px;
    width: 500px;
    text-align: center;
    position: relative;
    left: 40%;
}

#NJE-J {
border: 3px solid white;
border-radius: 25px;
width: 500px;
text-align: center;
position: relative;
left: 40%;
}

#NJE-E {
    border: 3px solid white;
    border-radius: 25px;
    width: 500px;
    text-align: center;
    position: relative;
    left: 40%;
}

#NJE-E a {
    text-decoration: none;
    color: skyblue;
}

.image-wrap {
    font-size: 22px;
    font-family: sans-serif;
}

.image-wrap image {
    object-fit: fill;
    width: 337px;
}

.founders {
    background-color: black;
    color: white;
    border: 5px solid black;
    border-radius: 25px;
    width: 100%;
}

.heading-1 p {
    text-indent: -1px;
}

.image-wrap p {
    text-indent: 1px;
    margin: 1px;
    padding: 0;
}

.image-wrap > p {
    border-spacing: 10px;
    letter-spacing: 10px;
}


#latest-video {
    border: 3px solid black;
    border-radius: 25px;
}

.darkmode {
    background: black;
    color: white;
    animation-name: fade-dark;
    animation-duration: 2s;
}

.darkmode ul {
    background: gray;
    color: skyblue;
}

@keyframes fade-dark {
    from {background-color: white}
    to {background-color: black}
    from {color: white}
    to {color: black}
}

.impactfont {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}

#settingsbutton {
    display: block;
    background: white;
    width: 120px;
    height: auto;
    padding: 0;
    margin: 5px;
}

.settingschange {
    background-color: skyblue;
}

.settingsopen {
    display: block;
}

#settings {
    display: none;
}

.settingsshow {
    display: block;
}

#full-dark {
    background-color: black;
    color: white;
    font-size: 15px;
}

#impact-font {
    background-color: white;
    color: black;
    font-size: 15px;
}

.settingsbackground {
    background-color: skyblue;
    color: black;
}

@media screen and (max-width: 420px) {
    h1 {
        text-align: center;
        position: relative;
        
    }
} 

#padding-background {
    background: linear-gradient(skyblue, blue, skyblue);
    padding: 100px; 
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#navtop {
    display: none;
}

.topnav {
    height: 20%;
    width: 0;
    padding: 20px;
    padding-top: 20px;
    position: relative;
    top: -35px;
    left: -20px;
    z-index: 1;
}

.topnav a {
    float: left;
    text-indent: 10px;
    border: none;
    text-decoration: none;
    position: relative;
    transition: 0.5;
}

.navopen {
    display: block;
    width: 100%;
    height: 20%;
    transition: 1s;
}

button {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
}

#navtop #rightfloat {
    float: right;
    border: 3px solid rgb(44, 44, 44);
    border-radius: 0px;
    position: relative;
    right: 0px;
}

#settings {
    border: 3px solid black;
    border-radius: 10px;
    width: 340px;
    height: auto;
}

@media screen and (min-width: 1919px) {
    img {
        display: none;
    }

    #logobugnotice {
        display: block;
    }

    #padding-background {
        width: 100%;
    }
}

@media screen and (min-width: 1920px) {
    img {
        display: block;
    }
    #logobugnotice {
        display: none;
    }
}

@media screen and (min-width: 375px) {
    #padding-background {
        width: 110%;
    }

    .founders {
        width: 100%;
    }

    img {
        display: none;
    }
}

.dimmedMode {
    background-color: rgb(83, 83, 83);
    color: white;
}

#latest-video {
    display: none;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.showvideo {
    display: block;
    animation: 1s ease-in fadevideo
}


@keyframes fadevideo {
    from {display: none;}
    to {display: block;}
}

#redsubscribe {
    background-color: black;
    color: red;
}


@media (max-width: 375px) {
    header {
        width: 680px;
        height: auto;
    }
    .founders {
        width: 750px;
        height: auto;
        border-width: 100%;
    }

    p {
        font-size: 1.5em;
        font-family: sans-serif;
        text-align: center;
        line-height: 5vh;
    }

    h1 {
        font-size: 2.5em;
        font-family: sans-serif;
        text-align: center;
    }

    #navtop {
        width: 100%;
        height: 100%;
        color: white;
        background-color: black;
        paddoing: 10px;
    }
}