body {
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    position: relative;
    z-index: 1;
}

.container a {
    text-decoration: none;
}

h1 {
    font-family: sans-serif;
    font-size: 32px;
    
}

h2 {
    font-family: sans-serif;
    font-size: 26px;
}

p {
    font-family: sans-serif;
    font-size: 24px;
}

ul {
    border: 3px solid black;
    border-radius: 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gray;
    padding: 20px;
}

li {
    list-style-type: none;
    float: left;
    padding: 0;
}

li a {
    color: skyblue;
    font-family: sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 10px;
    margin: 10px;
    position: relative;
    top: -10px;
}

li:hover {
 color: red;
}

#one {
    width: 30px;
}

#two {
    width: 30px;
}

#three {
    width: 30px;
}

#nav div {
    height: 4px;
    background-color: black;
    margin: 5px;
}

#navtop {
display: none;
}

#external-links {
    padding: 150px;
    text-indent: 15px;
    text-decoration: none;
    position: relative;
    bottom: -50px;
}

#external-links a {
    font-size: 24px;
    font-family: sans-serif;
    color: skyblue;
    position: relative;
    top: -220px;
     left: -220px;
    z-index: 4;
    float: left;
    background-color: black;
     text-decoration: none;
    list-style-type: none;
    position: relative;
    bottom: -150px;
    left: 100px;
}

#move-side {
    display: block;
    background-color: skyblue;
    font-size: 20px;
    font-family: sans-serif;
}

#external-links a:hover {
    color: red;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    font-size: 24px;
    font-family: sans-serif;
}

.image-wrap {
    display: flex; 
}

.image-wrap image {
    width: 200px;
    height: auto;
}

#NJE-N {
    border: 3px solid white;
    border-radius: 25px;
    width: 500px;
    text-align: center;
    position: relative;
    left: 40%;
}

#NJE-J {
border: 3px solid white;
border-radius: 25px;
width: 500px;
text-align: center;
position: relative;
left: 40%;
}

#NJE-E {
    border: 3px solid white;
    border-radius: 25px;
    width: 500px;
    text-align: center;
    position: relative;
    left: 40%;
}

#NJE-E a {
    text-decoration: none;
    color: skyblue;
}

.image-wrap {
    font-size: 22px;
    font-family: sans-serif;
}

.image-wrap image {
    object-fit: fill;
    width: 337px;
}

.founders {
    background-color: black;
    color: white;
    border: 5px solid black;
    border-radius: 25px;
}

.heading-1 p {
    text-indent: -1px;
}

.image-wrap p {
    text-indent: 1px;
    margin: 1px;
    padding: 0;
}

.image-wrap > p {
    border-spacing: 10px;
    letter-spacing: 10px;
}


