* {
    margin: 0;
    padding: 0; 
}
@media screen and (max-height: 812px) {
    h2 {
        font-size: 52px;
        font-family: sans-serif;
        text-align: center;

    }
}
@media only screen and (min-width: 375px) {
    button {
        font-family: sans-serif;
        font-size: 25px;
        font-weight: lighter;
        background-color: white;
        border: 3px solid black;
        border-radius: 25px;
        position: relative;
        left: -225px;

    }
}
body {
    background-color: #2a2c2a;
    color: white;
}
@media only screen and (max-width: 375px) {
    body {
        background-color: rgb(80, 78, 78);
    }
}

@media only screen and (max-width: 375px) {
.nav-top {
    float: right;
    width: 100%;
    font-size: 48px;
}

@media only screen and (max-width: 375px) {
    button {
        margin: 5px;
        margin-left: 5px;
    }
}
a {
    font-size: 48px;
    font-family: sans-serif;
}
}
* {
    text-align: center;
}

p {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 48px; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
a {
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: skyblue;
}

#emails {
    display: none;
    font-size: 20px;
    font-family: sans-serif;
    background-color: white;
    text-align: center;
    color: black;
}

header {
    position: relative;
    bottom: -200px;
    margin: 5px;
    margin-left: 5px;
    margin-top: auto;
    overflow: hidden;
}

button {
    display: block;
    font-size: 32px;
    font-family: sans-serif;
    border: 3px solid black;
    border-radius: 25px;
    position: relative;
    left: 870px;
}

#discord {
    display: none;
    margin: 5px;
    margin-left: 5px;
}

#discord-function {
    margin: 5px;
    margin-left: 5px;
    position: relative;
    top: 200px;
}

#navbar img{
width: 100px;
height: 100px;
float: left; 
border: 3px solid black;
border-radius: 25px;
position: relative;
}

#navbar a {
    display: block;
    color: white;
    padding: 8px;
    text-align: center;
    font-family: sans-serif;
    font-size: 28px;
    text-shadow: 2px 1px 2px black;
}

#navbar a:hover {
    background-color: green;
}

#navbar {
    float: right;
    display: none;
    animation-name: nav-animation;
    animation-duration: 1s;
    background-color: gray;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
    transition: 1s;
}

@keyframes nav-animation{
    from {display: none}
    to {display: block}
}

#one {
    width: 30px;
    height: 4px;
    background-color: white;
    border: 3px solid black;
    border-radius: 25px;
}

#two {
    width: 30px;
    height: 4px;
    background-color: white;
    border: 3px solid black;
    border-radius: 25px;
}

#three {
    width: 30px;
    height: 4px;
    background-color: white;
    border: 3px solid black;
    border-radius: 25px;
}
.nav div {
    height: 4px;
    background-color: white;
    margin: 5px 0px;
}

#navbar a {
    display: block;
    padding: 8px;
    color: white;

    overflow: hidden;
}

header {
    background-color: gray; 
}

#discord p{
    display: none;
color: white;
font-size: 34px;
}


#discord a {
    color: black;
    font-size: 28px; 
    font-family: sans-serif;
    border: 3px solid black;
    border-radius: 25px;
    background-color: white;
    position: relative;
    top: 200px;
}

#youtube-function {
    display: block;
    position: relative;
    top: 100px;
}

button {
    box-sizing: 10px;
    margin: 5px;
    margin-left: 5px;
}

#youtube {
    display: none;
    font-size: 32px;
    font-family: sans-serif;
}

.transition{ 
    transition: 1s;
}

header::after {
    content: '';
    display: table;
    clear: both;
}
li:last-child {
    border:none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li {
    float: left;
    border-right: 2px solid lightgray;
}

#start {
    display: block;
    position: relative;
    top: 100px;
}

#emails a {
    display: block;
    position: relative;
    top: 100px;
}

#close a:hover {
    font-size: 40px;
border: 3px solid red;
border-radius: 2px;
background-color: red;
color: white;
}

#closenav-top {
    font-size: 40px;
    border: 3px solid red;
    border-radius: 2px;
    background-color: red;
    text-align: center;
    position: relative;
    width: 100px;
    height: 20px;
}

.animation {
    animation: fade-out ease-out 1s forwards;
}

@keyframes fade-out {
    from {display:block;}
    to {dispaly:none;}
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

button:hover {
    box-shadow: 2px 2px 2px black;
    font-size: 34px;
    font-family: Arial; 
}


#easter-egg {
    display: none;
    font-size: 38px;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#easter-two {
    display: block;
    background-color: yellow;
}

#easter-two:hover {
    animation: loop-color 1s infinite
}

@keyframes loop-color {
    from {background-color: yellow}
    to {background-color: lime}
    from {background-color: lime} 
    to {background-color: skyblue}
    from {background-color: skyblue} 
    to {background-color: blue} 
    from {background-color: blue}
    to {background-color: purple}
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }

}

/* add javascript to this css element */
#hint {
    display: block;
    border: 1px solid black;
    font-size: 10px;
    border-radius: 25px;
    background-color: white;
}

#ttv { 
    display: none;
    width: 120px;
font-size: 32px;
font-family: sans-serif;
border: 3px solid white;
border-radius: 20px;
background-color: purple;
color: white;
position: relative;
left: 50%;
}

@media (max-width: 375px) {
  h2 {
      font-size: 5em;
      font-family: sans-serif;
      position: relative;
      right: -5%;
  }

  p {
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 700px;
      font-size: 3em;
      font-family: sans-serif;
      position: relative;
      right: -20%;
  }

  body {
      width: 1000px;
  }

  button {
      font-size: 2em;
      display: block;
      position: relative;
      left: 10px;
      margin: 0px;
  }

  button#youtube-function {
      position: relative;
      button: -40px;
  }


}