
  
body {
    background-image: linear-gradient(violet, purple);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    font-size: 24px;
    font-family: sans-serif;
    text-align: center;
    position: relative;

}

input {
    font-size: 24px;
    border-radius: 25px;
    color: blue;
}


button {
    border-radius: 25px;
    font-size: 24px;
}

    a:hover {
        color: blue;
        text-decoration: none;
    }

    a:click {
        color: lime;
        text-decoration: none;
    }
    #one {
        width: 30px;
    }
    #two {
        width: 30px;
    }
    #three {
        width: 30px;
    }

    #links {
        display: none;
        text-align: center;
        list-style-type: none;
        text-decoration: none;
        font-size: 20px;
        font-family: sans-serif;
        border: 3px solid black;
        border-radius: 25px;
        max-width: 360px;
        background-color: violet;
    }
    .nav div {
        height: 4px;
        background-color: white;
        margin: 5px 0px;
    }