/*Special thanks lto code.tutplus.com for a tutorial on  how to make the sticky notes*/
/*I am using a tutorial but changing things up to how I would like it*/

body {
    margin: 20px auto;
    font-family: 'Lato';
    background: linear-gradient(black, gray, lightgray);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: blue; 
}

#thanks-1 {
    font-size: 20px;
    font-family: sans-serif;
}

#thanks-2 {
    font-size: 20px;
    font-family: sans-serif;
}

#thanks {
    font-weight: bold;
    font-size: 1.5em;
    font-family: sans-serif;
    border: 3px solid black;
    border-radius: 25px;
    text-decoration: none;
}

#thanks-2-1 {
    font-weight: bold;
    font-size: 1.5em;
    font-family: sans-serif;
    border: 3px solid black;
    border-radius: 25px; 
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

p {
    font-family: 'Reenie Beanie';
    font-size: 1rem; 
}

ul,li {
    list-style: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li a {
    text-decoration: none;
    color: black;
    background: #ffc;
    display: block;
    height: 10em;
    width: 10em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

ul li:nth-child(even) a {
    transform:rotate(10deg);
    position: relative;
    top: 5px;
    background: rgb(217, 125, 253);
}

ul li:nth-child(5n) a {
    transform: rotate(-12deg);
    position: relative;
    top: -10px;
    background: lightblue;
}

ul li:nth-child(5n) a {
    transform: rotate(-5deg);
    position: relative;
    top: -10px;
}

ul li:nth-child(3n) a {
    transform: rotate(9deg);
    position: relative;
    top: -10px;
    background: blue;
    color: white;
}

ul li a:hover, ul li a:focus {
    box-shadow: 10px 10px 7px rgba(0,0,0,0.7);
    font-family: sans-serif;
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}

ul li {
     margin: 1em;
     padding: 5px;
}

ul li p a:hover {
font-family: sans-serif;
font-size: 18px;
}