body {
    padding: 25px;
background-image: linear-gradient(lime, lightblue);
background-repeat: no-repeat;
background-attachment: fixed;
text-align: center;
}

h1 {
    font-size: 24px;
    font-family: sans-serif;
}

p {
    font-size: 20px;
    font-family: sans-serif; 
}


#settings-btn {
    display: block;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

#dark-mode {
    float: right;
    display: none;
    background-color: blue;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
}

#home {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: left;
    border: 3px solid black;
    border-radius: 25px;
    background-color: violet;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}