body {
    background: white;
    color: black;
    background-repeat: no-repeat;
}

@media screen and (max-width: 400px) {
    p {
        width: 543px;
        font-size: 2em;
        font-family: sans-serif;
        text-align: center;
        position: relative;
    }

    h1 {
        margin: 543px;
        margin: 0;
        padding: 0; 
        font-size: 4em;
        font-family: sans-serif;
        text-align: center;
        position: relative;
    }
        h2 {
        width: 543px;
        margin: 0;
        padding: 0; 
        font-size: 3em;
        font-family: sans-serif;
        text-align: center;
        position: relative;
    }

    a {
        width: 543px;
        margin: 0;
        padding: 0;
        font-size: 30px;
        text-align: center;
        border: none;
        font-family: monospace;
        position: relative;
    }

    button#closenav {
        font-size: 30px;
    }

    img {
        width: 200px;
        height: 200px; 
    }

    .container {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        text-align: center;
    }

    button {
        margin: 0;
        padding: 0;
        font-size: 2em;
        font-family: sans-serif;
        text-align: center;
        position: relative;
    }

    #links {
        display: none;
        font-size: 84px;
        font-family: sans-serif;
        float: left;
        
    }

    #links li {
        list-style-type: none;
        float: left;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        float: left;
    }
}

@media screen and (min-width: 400px) {
    p {
        margin: 0;
        padding: 0;
        font-size: 30px;
        font-family: sans-serif;
        text-align: center;
    }
    
     h1 {
         margin: 0;
         padding: 0;
         font-size: 48px;
         font-family: sans-serif;
         text-align: center;
     }

     h2 {
         font-size: 3EM;
         margin: 0;
         padding: 0;
         font-family: sans-serif;
         text-align: center;
         position: relative;
     }
}

#eggy {
    display: none;
}