@media (height: 2400px) {
    p {
        font-family: sans-serif;
        font-size: 84px; 
        text-align: center;
    }
    
    h1 {
        text-align: center;
        font-size: 100px;
        font-family: sans-serif;
    }

    h2 {
        text-align: center;
        font-size: 92px;
        font-family: sans-serif;
    }

    div#heading1 {
        font-family: sans-serif;
        font-size: 84px; 
    }

    a {
        font-size: 72px;
        font-family: sans-serif;
    }

    li {
        list-style-type: none;
        font-family: sans-serif;
    }

    button {
        font-size: 72px;
    }

    button#closeSettings {
        background-color: red;
        color: white;
    }

    iframe {
        width: 1080px;
        height: 720px;
    }

    #contact-me { 
        font-family: sans-serif;
        font-size: 68px;
        font-weight: lighter; 
    }

    h4 {
        font-size: 54px;
        font-family: sans-serif;
    }

    #founders {
        background: black;
        color: white;
        border: 3px solid black;
        border-radius: 10px;
        position: relative;
        right: -2px;
    }

    p#mit-license {
        font-size: 54px;
        position: relative;
    }
}

@media (width: 375px) {
    p {
        width: 500px;
        font-size: 36px;
        font-family: sans-serif;
        text-align: center;
    }

    h1 {
        width: 500px;
        font-size: 4em;
        font-family: sans-serif;
        text-align: center;
    }

    h2 {
        width: 500px;
        font-size: 2em;
        font-family: sans-serif;
        text-align: center;
    }

    a {
        width: 500px;
        font-family: sans-serif;
        font-size: 36px;
        text-align: center;
        text-decoration: none;
    }

    button {
        font-size: 32px;
    }

    button#closeSettings {
        background-color: red;
        color: white;
    }

    button#close-nav {
        background-color: red;
        color: white;
    }

    li {
        list-style-type: none;
   }

   #settings button {
    width: 1058px;
   }

   #full-dark {
       width: 1058px;
   }

   #dimmedtheme {
       width: 1058px;
   }

   #settings {
    width: 543px;
    border-width: 543px;
   }

   #settings button {
       width: 300px;
   }

   #closeSettings {
       width: 30px;
   }
}

@media (width: 414px) {
    p {
        font-family: sans-serif;
        font-size: 36px;
        text-align: center;
    }

    h1 {
        font-size: 4em;
        font-family: sans-serif;
        text-align: center;
    }

    h2 {
        font-size: 2em;
        font-family: sans-serif;
        text-align: center;
    }

    #founders {
        border: 3px solid black;
        border-radius: 10px;
        background: black;
        color: white;
        width: 480px;
    }

    a {
        font-size: 36px;
        font-family: sans-serif;
        text-align: center;
    }

    button#close-nav {
        background: red;
        color: white;
        font-size: 36px;
    }

    button {
        font-size: 36px;
        border: 3px solid black;
    }

    div.founders {
        width: 543px;
    }

    section#founders {
        width: 543px;
        position: relative;
        left: -1px;
    }
}

@media (max-width: 800px) {
    p {
        font-size: 2em;
        font-family: sans-serif;
        text-align: center;
        font-weight: bold;
    }

    h1 {
        font-size: 4em;
        font-family: sans-serif;
        text-align: center;
        font-weight: lighter;
    }

    h2 {
        font-size: 2em;
        font-family: sans-serif;
        text-align: center;
        font-weight: bold; 
    }

    a {
        font-size: 36px;
        font-family: sans-serif;
        font-weight: lighter;
    }
}

body {
    background: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#settings {
    display: none;
}


p {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-family: sans-serif;
    text-align: center; 
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

h4 {
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    font-family: sans-serif;
}

a {
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
}

li {
    list-style-type: none;
    font-family: sans-serif;
}

iframe {
    display: none;
    border: 3px solid black;
    border-radius: 25px; 
     position: relative;
}

#select-all {
    display: block;
}

#navtop {
    display: none;
}

#settings {
    border: 3px solid black;
    border-radius: 10px;
}

.darkmode {
    background: black;
    color: white;
}

.darkmode #settings {
    border: 3px solid white;
    border-radius: 10px;
}

#closeSettings {
    color: white;
    background: red;
}