body {
    background: black;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width: 400px) {
    p {
        font-size: 2em;
        font-family: sans-serif;
        text-align: center;
    }

    h1 {
        font-size: 4em;
        font-family: sans-serif;
        text-align: center;
    }

    section#start {
        font-family: sans-serif;
    }

    button {
        font-family: sans-serif;
        font-size: 2em;
    }
    
    a {
        font-family: sans-serif;
        font-size:  32px;
        text-decoration: none;
    }

    a#closenav-side {
        padding: 0;
        margin: 0;
        background: red;
        color: white;  
        text-decoration: none;
        width: 70px;
        height: 50px;
    }

    ul {
        list-style-type: none;
        text-decoration: none;
    }

    .thumbnail {
        width: 200px;
        height: 200px;
        border: 3px solid gold; 
        border-radius: 25px;
    }
}

h2 {
    font-family: sans-serif;
}

@media (min-width: 500px) {
    p {
        font-family: sans-serif;
        font-size: 2em;
        text-align: center;
    }

    h1 {
        font-family: sans-serif;
        font-size: 2em;
        text-align: center;
    }

    h2 {
        font-family: sans-serif;
        font-size: 4em;
        text-align: center;
    }

    .thumbnail {
        width: 200px;
        height: 200px;
    }

    #closenav-side {
        background: red;
        color: white;
        text-decoration: none;
    }

    a {
        text-decoration: none;
    }

    button#light-mode {
        font-family: sans-serif;
        font-size: 2em;
    }

    button#dark-mode {
        font-family: sans-serif;
        font-size: 2em;
    }

    button {
        font-size: 24px;
        font-family: sans-serif;
        text-align: center;
    }
}

@media screen and (min-width: 390px) {
    p {
        text-decoration: none;
        font-size: 2em;
        font-family: sans-serif;
        text-align: center;
    }

    h1 {
        text-align: center;
        font-size: 2em;
        font-family: sans-serif;
        text-decoration: none;
    }

    h2 {
        font-family: sans-serif;
        font-size: 2em;
        text-align: center;
    }

    a {
        padding: 0;
        margin: 0;
        text-decoration: none;
        text-align: center;
        font-family: sans-serif;
        font-size: 2em;
    }

    .thumbnail {
        width: 200px;
        height: 200px;
    }

    button#closenav-side {
        background: red;
        color: white;
        text-decoration: none;
    }

    h2 {
        font-family: sans-serif;
        font-size: 2em;
        text-align: center;
        text-decoration: none;
    }

    #notice2 {
        font-family: sans-serif;
        font-size: 2em;
        text-align: center;
        text-decoration: none;
    }

    #notice {
        text-decoration: none;
        text-align: center;
        font-size: 2em;
        font-family: sans-serif;
    }

    button {
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: sans-serif;
        font-size: 24px;
        text-decoration: none;
    }
}

section#start {
    text-align: center;


}

a {
    color: lime;
    font-family: sans-serif;
}

.light-mode {
    background: white;
    color: black;
} 

.dark-mode {
    background: black;
    color: white;
}

#light-mode {
    color: white;
    background: black;
}

#emails {
    display: none;
}

#discord {
    display: none;
}

#twitch {
    display: none;
}

#youtube {
    display: none; 
}

li {
    list-style-type: none;
}

#sidebar {
    width: 250px;
    display: none;
    float: left;
    height: 100%;
}

#easter-egg {
    display: none;
}

@media screen and (min-height: 2000px) {
p {
    font-family: sans-serif;
    font-size: 72px;
    text-align: center;
}

p#notice {
font-family: sans-serif;
font-size: 72px;
text-align: center; 
text-decoration: none;
}

p#notice2 {
    font-family: sans-serif;
    font-size: 72px;
    text-align: center;
    text-decoration: none;
}

a {
    font-size: 72px;
    font-family: sans-serif;
    text-decoration: none;
}

button#closenav-side {
    background: red;
    color: white;
    text-decoration: none;
}

button {
    font-size: 72px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
}

button#light-mode {
    font-size: 72px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
}

button#dark-mode {
    font-size: 72px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
}

h2 {
    font-size: 84px;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
}
}

@media screen and (width: 812px) {
    p {
        font-size: 2em;
        font-family: sans-serif;
        text-decoration: none;
        text-align: center;
    }

    h1 {
        font-size: 4em;
        font-family: sans-serif;
        text-decoration: none;
        text-align: center;
    }

    h2 {
        font-size: 2em;
        font-family: sans-serif;
        text-decoration: none;
        text-align: Center;
    }
}

@media (width: 320px) {
    h1 {
        font-family: sans-serif;
        font-size: 4em;
        text-align: center;
        text-decoration: none;
    }

    p {
        font-family: sans-serif;
        font-size: 2em;
        text-align: center;
        text-decoration: none;
    }
}