.item1 {
    float: left;
     display: grid;
     grid-column: 1;   
     position: relative;
     left: -50px;
    }
    
    .item2 {
        float: left;
        display: grid;
        grid-column: 1;
        position: relative;
        left: -950px;
        bottom: -11.55px;
    }
    
    .item3 {
        display: grid;
        grid-column: 1;
        position: relative;
        left: -1850px;
        bottom: -11.60px;
    }
    .item3-1 {
        position: relative;
        right: -100%;
    }
    
    .item3-2 {
        background: black;
        color: white;
        text-decoration: none;
        position: relative; 
        right: -50%; 
    }