body {
    background-color: rgb(42, 42, 42);
    color: white;
}

li a:hover {
    background-color: darkgray;
    color: black;
}

@media (min-width: 825px) {
    ul {
        list-style-type: none;
      }
    
      .nav li {
        display: inline;
        float: left;
      }
    
    li a {
        display: block;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;
        color: #dddddd;
    }
    
    #navbar {
      background-color: #333;
      overflow: hidden;
      width: 100%; 
      position: fixed;
      display: inline-block;
      margin-top: -9px;
      margin-left: -24px;
      transition: width .2s ease-in-out;
    }
.container {
    width: 825px;
    margin: 0 auto;
}
}

p {
    font-family: Arial;
    font-size: 24px;
}

h1 {
    font-size: 48px;
    font-family: Arial;
}

.active1 {
    background-color: #29B0DD;   
    color: black;
}


a {
    font-family: Arial; 
}

@media (max-width: 824px) {
    ul {
        list-style-type: none; 
    }
    #navbar {
        background-color: #333;
        width: 100%;
        padding: 20px 16px;
    }
    
    #ldt {
        float: left;
    }

    #navbar a {
        font-size: 20px;
    }

    .c1 {
        color: white;
    }

    .c2 {
        color: white;
    }

    .c3 {
        color: white;
    }

    .c4 {
        color: white;
    }


    .active1 a {
        padding: 10px;
        color: black; 
    }
}

a {
    text-decoration: none;
}