body { 
    background-color: rgb(42, 42, 42);
    color: white;
}

#title {
    width: 100%;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
    font-family: sans-serif;
}

#paragraph {
    margin-top: 200px;
}

#paragraph a {
    color: lightblue;
}

ul {
    list-style-type: none;
    color: white;
    background: #333;
    overflow: hidden;
    width: 100%;
}

li {
    float: left;
    font-family: sans-serif;
}

li button {
    font-family: sans-serif;
    font-size: 20px;
    background-color:rgb(42, 42, 42);
    color: white;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px;
}

.active {
    background: blue;
}

li a:hover {
    background-color: black;
}

ul {
    padding: 16px;
}

.ltd {
    background-color: white;
    color: black;
}
.ltd #paragraph a {
    color: blue;
}

.ltd #whattodoif h2 {
    color: blue; 
}

#whattodoif h2 {
    color: lightblue;
    font-family: sans-serif;
}

.a28de {
    color: lightblue;
}

h2 {
    font-family: Arial;
}

h1 {
    font-family: Arial;
}

.container {
    width: 825px;
    margin: 0 auto; 
}
