body {
    background-image: linear-gradient(.25turn, pink, lightblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
}

.container {
    font-family: sans-serif;
    font-size: 24px;
}

#privacy-notice {
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}

li {
    background-color: black;
    max-width: 180px;
    color: white;
}

a {
    font-size: 18px;
    font-family: sans-serif;
    color: lightblue;
    text-decoration: none;
}

#nav {
    display: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button {
    display: block;
    background-color: blue;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none; 
}

button:hover {
    font-size: 26px;
    font-family: sans-serif;
}

#one {
    width: 40px;
}

#two {
    width: 40px;
}

#three {
    width: 40px;
}

.nav div {
    height: 4px;
    background: white;
    margin: 5px 0px;
}


#links {
    display: none;
    background: violet;
    font-size: 20px;
    font-family: sans-serif;
    border: 3px solid black;
    border-radius: 25px;
    max-width: 160px;
    height: auto;
    position: relative;
    left: 60%;
    top: auto;
}