@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url("2021-06-27_19.15.35.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 28px;
    font-family: 'Press Start 2P', cursive;
}

p {
    font-size: 20p;
    font-family: sans-serif;
}

.page-title {
    font-size: 32px;
    font-family: 'Press Start 2P', cursive;
    display: block;
}

#information {
    float: right;
    border: 3px solid black;
    border-radius: 25px;
    background-color: yellow;
    width: 400px;
    text-align: center; 
}

#tips {
    display: block;
    font-weight: bold;
}

img:hover {
    border: 3px solid lightblue;
    border-width: 10px;
    border-radius: 35px;
    animation-name: zoom-in;
    animation-duration: 2s;
}

@keyframes zoom-in{
    50% {
transform: scale(1.15);
}
}

#credit { 
    border: 3px solid black;
    border-radius: 25px;
    background-color: red;
    color: white;
    text-align: center;
    position: relative;
    bottom: -200px;
}

img {
    width: 300px;
    border: 3px solid black;
    border-radius: 25px;
    transform: rotate(5deg);
}

#other-worlds p {
    border: 3px solid black;
    border-radius: 25px;
    background-color: yellow;
    font-size: 20px;
    max-width: 250px;
    text-align: center;
}

#rules-of-kitpvp {
    background-color: rgb(89, 89, 221);
    color: white;
    text-align: center;
}