@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-size: cover;
    background-image: url("2021-06-27_19.14.23.png");
    background-repeat: no-repeat;
    height: 1080px;
}

h1 {
    font-size: 38px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: sans-serif;
}

#main-text {
    position: relative;
    font-family: 'Press Start 2P', cursive;
}

#main-text p {
    font-family: 'Press Start 2P', cursive;
}

#information {
font-weight: lighter;
float: right;
max-width: 392px;
border: 3px solid black;
border-radius: 25px;
background-color: yellow;
font-family: Impact;
position: relative;
left: -20px;
}
#strategies {
    display: block;
    float: right;
    font-family: sans-serif;
}

a {
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    color: red;
    text-indent: 15px;
}

.image-wrap {
    background-size: cover;
    width: 1920px;
    height: 1060px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main-text {
    background-color: black;
    width: 300px;
    background-size: cover;
    padding: 15px;
    margin: 0px;
    align-items: center;
    color: white;
}

#pvp {
    width: 300px;
    border: 3px solid black;
    border-radius: 25px;
}

#lobby {
    width: 300px;
    border: 3px solid black;
    border-radius: 25px;
}

#more-stuff p {
    font-size: 28px;
    border: 3px solid black;
    border-radius: 25px;
    width: 200px;
    text-align: center;
    background-color: yellow;
}

img:hover {
    transform: scale(1.07);
    transform: rotate(0deg);
    transition: 1s;
    animation: zoom-in-out 1s infinite;
    }

    @keyframes zoom-in-out {
        50% {
            transform: scale(1.10);
        }
    }

#more-stuff {
    position: relative;
    left: 15px;
}

#external-links {
    text-align: center;
}

a:hover {
    text-shadow: 1px 1px 1px #000;
    font-family: sans-serif;
    color: blue; 
}