.darkMode {
animation-name: background-change;
animation-duration: 2s;
background-color: #000;
color: white;
}

@keyframes background-change {
    from {background-color: lime}
    to {background-color: black}
    from {color: black}
    to {color: white}
}




#settingsBtn {
    float: right;
    position: relative;
    top: 30px;
}

#settings {
    display: none;
    float: right;
    position: relative;
    top: -50px;
}

button {
    display: block;
    background-color: blue;
    color: lightgray;
}

#popoutNav {
    float: right;
    position: relative;
    top: 15px;
    right: -5px;
}

ul {
    display: none;
    background-color: gray;
    float: right;
}

a {
    color: pink;
    font-size: 20px;
    font-family: sans-serif;
}

body {
    background-color: lime;
    font-family: sans-serif;
}