.darkMode {
animation-name: background-change;
animation-duration: 2s;
background-color: #000;
color: white;
}

body {
    background-color: lightgray;
}

button {
    float: right;
    display: block;
    background-color: blue;
    color: white;
    font-size: 24px;
}

#one {
    width: 30px;
    background-color: black;
}

#two {
    width: 20px;
    background-color: black;
}

#three {
    width: 30px;
    background-color: black;
}

.nav div {
    height: 5px;
    background-color: black;
    margin: 5px 0px;
    border: 3px solid white;
    border-radius: 25px;
}

#hidenav {
    display: none;
    font-size: 20px;
    font-family: sans-serif;
}

h1 {
    font-size: 28px;
    font-family: sans-serif;
    text-align: center;
}

p {
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}

#links {
    display: none;
    float: left;
    border: 3px solid black;
    border-radius: 25px;
    background-color: pink;
    font-size: 24px;
    font-family: Arial;
    color: red;
    text-decoration: none;
}

#external-links {
    color: blue;
    font-size: 16px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    background-color: gray;
    text-indent: 5px;
    z-index: 5;
}

