body {
     background-color: black;
     background-repeat: no-repeat;
     background-attachment: fixed;
     color: white;
}

h1 {
    font-size: 28px;
    font-family: sans-serif;
}

p {
    font-size: 20px;
    font-family: sans-serif;
}

#one { 
width: 30px;
border: 3px solid black;
border-radius: 25px;
}

#two {
    width: 20px;
    border: 3px solid black;
    border-radius: 25px;
}

#three {
    width:30px;
    border: 3px solid black;
    border-radius: 25px;
}

.nav div {
    height: 4px;
    background-color: white;
    margin: 5px 0px;
}

#links {
    display: none;
    list-style-type: none;
    border: 3px solid black;
    border-radius: 25px;
    background-color: violet;
    font-size: 20px;
    font-family: sans-serif;
    color: red;
}

